In [1]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv(r'C:\Users\girip\Downloads\DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')

In [ ]:
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [41]:
#task 1 drop the rows with missing data

missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)
cleaned_data = df.dropna()
cleaned_data.reset_index(drop=True, inplace=True)

Missing Values:
 year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [ ]:
#task 2 display the details of potential cars

filtered_data = df[(df['year'] == 2014) & (df['state'] == 'ca')]
sorted_data = filtered_data.sort_values(by='mp', ascending=True)
potential_cars = sorted_data.head(100)
print(potential_cars)

        year        make       model                  trim       body  \
179673  2014      Nissan       Versa                1.6 SV      Sedan
494101  2014  Mitsubishi      Mirage                    DE  hatchback
477609  2014      Nissan       Versa                1.6 SV      sedan
444039  2014      Nissan       Versa                1.6 SV      Sedan
543536  2014       smart      fortwo         passion coupe  hatchback
...      ...         ...         ...                   ...        ...
457262  2014      Nissan       Versa                1.6 SV      Sedan
379472  2014        Ford      Fiesta                    SE  Hatchback
60893   2014      Toyota       Yaris                    LE  Hatchback
442576  2014       smart      fortwo  electric drive coupe  Hatchback
543472  2014      Nissan  Versa Note                1.6 SV  hatchback

       transmission state  condition  odometer   color interior  \
179673    automatic    ca        2.4   78882.0   white    black
494101    automatic    ca        4.3   24002.0  silver    black
477609    automatic    ca        4.1   43948.0   black    black
444039       manual    ca        3.0   44854.0   black    black
543536    automatic    ca        4.8    3575.0       â€”    black
...             ...   ...        ...       ...     ...      ...
457262    automatic    ca        3.9    8857.0    gray    black
379472    automatic    ca        4.3   45661.0     red    black
60893     automatic    ca        2.0   32691.0     red    black
442576    automatic    ca        4.8    4171.0   white     gray
543472    automatic    ca        4.2   16241.0       â€”    black

                                                   seller    mp  \
179673                nissan motor acceptance corporation  6175
494101                             black/white auto sales  7225
477609                        consumer portfolio services  7425
444039             bmw alphera/alphera financial services  7525
543536                   mercedes-benz financial services  7900
...                                                   ...   ...
457262                                 santander consumer  9675
379472                                   avis corporation  9675
60893   enterprise vehicle exchange / tra / rental / t...  9675
442576                   mercedes-benz financial services  9700
543472                nissan motor acceptance corporation  9700

                                   Arrival_Date
179673  Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101  Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609  Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039  Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...                                         ...
457262  Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472  Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893   Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576  Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472  Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

[100 rows x 14 columns]

In [ ]:
#task 3 display the output in a cross table

filtered_data = df[(df['year'] == 2014) & (df['state'] == 'ca')]
cross_table = pd.pivot_table(filtered_data, values='mp', index=['make', 'model'], aggfunc='mean')
cross_table = cross_table.sort_values(by='mp', ascending=True)
print(cross_table)

                                        mp
make          model
Mitsubishi    Mirage           8695.000000
smart         fortwo           9320.000000
Chevrolet     Spark            9361.538462
Nissan        Versa            9978.044872
Chevrolet     Sonic           10380.208333
...                                    ...
BMW           M6 Gran Coupe   91500.000000
Audi          RS 7           102750.000000
Land Rover    Range Rover    105655.172414
Mercedes-Benz G-Class        109400.000000
BMW           i8             160333.333333

[287 rows x 1 columns]

In [ ]:
#task 4 display updated data

chevrolet_cars = df[df['make'] == 'Chevrolet'].copy()
chevrolet_cars['discounted_price'] = chevrolet_cars['mp'] * 0.9
print("Chevrolet Cars with Original Prices and Discounted Prices (10% discount):\n")
print(chevrolet_cars[['make', 'model', 'mp', 'discounted_price']])

Chevrolet Cars with Original Prices and Discounted Prices (10% discount):

             make           model     mp  discounted_price
7       Chevrolet           Cruze  11900           10710.0
9       Chevrolet          Camaro  26300           23670.0
14      Chevrolet           Cruze  13900           12510.0
18      Chevrolet          Camaro  17750           15975.0
20      Chevrolet          Impala  24300           21870.0
...           ...             ...    ...               ...
558764  Chevrolet          Blazer   1300            1170.0
558788  Chevrolet  Silverado 1500  30700           27630.0
558792  Chevrolet             HHR   5775            5197.5
558818  Chevrolet  Silverado 1500  22100           19890.0
558823  Chevrolet  Silverado 1500  25000           22500.0

[60197 rows x 4 columns]

In [ ]:
#task 5  average interior colour price

average_prices_by_color = df.groupby('interior')['mp'].mean()
print("Average Price of the 100 Lowest Priced Cars from 2014 by Interior Color:\n")
print(average_prices_by_color)

Average Price of the 100 Lowest Priced Cars from 2014 by Interior Color:

interior
beige        13397.460173
black        15858.520055
blue          8291.432337
brown        20319.988426
burgundy     19567.801047
gold         11634.490741
gray         11189.776545
green        10113.673469
off-white    29598.750000
orange       19184.137931
purple       13150.958702
red          23592.752024
silver       10681.164695
tan          12499.983557
white        18364.384921
yellow       17963.750000
â€”            10993.546498
Name: mp, dtype: float64

In [ ]:
#task 6  preference of whie and black

filtered_data = df[(df['year'] >= 2010) & (df['year'] <= 2015)]
color_counts = filtered_data.groupby(['make', 'color']).size().reset_index(name='count')
print("Color-wise Availability of Cars for Each Manufacturer from 2010-2015:\n")
print(color_counts)

Color-wise Availability of Cars for Each Manufacturer from 2010-2015:

      make     color  count
0    Acura     beige      1
1    Acura     black   1031
2    Acura      blue     99
3    Acura     brown     12
4    Acura  burgundy     94
..     ...       ...    ...
710     vw     brown      1
711     vw      gray      2
712     vw    silver      1
713     vw     white      2
714     vw         â€”     10

[715 rows x 3 columns]

In [43]:
#task 7 BMW car  manufactured

bmw_sedans = df[(df['make'] == 'BMW') & 
                          (df['model'] == 'Sedan') & 
                          (df['year'] >= 2010) & 
                          (df['year'] <= 2015) & 
                          (df['condition'] >= 4.5)]
year_wise_max_price = bmw_sedans.groupby(['model', 'year'])['mp'].max()
print(year_wise_max_price)

Series([], Name: mp, dtype: int64)

In [34]:
#task 8  top 100 SUVs

filtered_suv = df[(df['year'] >= 2010) &
                  (df['year'] <= 2015) &
                  (df['odometer'] <= 30000)]
sorted_suv = filtered_suv.sort_values(by='mp', ascending=False)
top_100_suv = sorted_suv.head(100)
print("Top 100 SUVs available between 2010 and 2015 with an odometer reading <= 30000, based on prices (descending order):\n")
print(top_100_suv)

Top 100 SUVs available between 2010 and 2015 with an odometer reading <= 30000, based on prices (descending order):

        year           make           model     trim   body transmission  \
548169  2011        Ferrari      458 Italia     Base  coupe    automatic
545523  2013    Rolls-Royce           Ghost     Base  sedan    automatic
146917  2014            BMW              i8     Base  Coupe    automatic
239360  2014            BMW              i8     Base  Coupe    automatic
239357  2014            BMW              i8     Base  Coupe    automatic
...      ...            ...             ...      ...    ...          ...
6501    2012        Bentley  Continental GT     Base  Coupe    automatic
134022  2012        Bentley  Continental GT     Base  Coupe    automatic
362025  2014        Porsche         Cayenne  Turbo S    SUV    automatic
283749  2013  Mercedes-Benz         G-Class  G63 AMG    SUV    automatic
148296  2012  Mercedes-Benz         SLS AMG     Base  Coupe    automatic

       state  condition  odometer  color interior  \
548169    fl        4.6   12116.0    red    black
545523    fl        4.2    7852.0  white    beige
146917    ca        5.0      60.0  white    brown
239360    ca        4.8     124.0  white    black
239357    fl        5.0     530.0   gray    brown
...      ...        ...       ...    ...      ...
6501      ca        4.6   21689.0  black    black
134022    ca        4.1   18386.0  black    beige
362025    fl        4.9     506.0  black      tan
283749    ca        4.4   23663.0   gray    black
148296    ca        2.7    9289.0  black    black

                             seller      mp  \
548169          platinum motor cars  182000
545523   flag/landrover southpointe  178000
146917     ferrari of orange county  176000
239360               pacoima motors  172000
239357  auto plaza motor sports llc  170000
...                             ...     ...
6501        phillips auto brokerage  115000
134022    fratelli investment group  115000
362025          platinum motor cars  114000
283749            honda of pasadena  114000
148296      high bid trading co inc  112000

                                   Arrival_Date
548169  Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
545523  Wed Jun 17 2015 03:05:00 GMT-0700 (PDT)
146917  Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
239360  Thu Feb 12 2015 12:30:00 GMT-0800 (PST)
239357  Tue Feb 10 2015 04:00:00 GMT-0800 (PST)
...                                         ...
6501    Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
134022  Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
362025  Thu Feb 26 2015 01:40:00 GMT-0800 (PST)
283749  Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
148296  Thu Jan 15 2015 04:00:00 GMT-0800 (PST)

[100 rows x 14 columns]